/* admin */

.account__admin-wrapper{
    margin-top: 144px;
    margin-bottom: 410px;
}

.account__admin-top-content{
    display: flex;
    gap: 24px;
    margin-top: 32px;
    justify-content: end;
}

.account__admin-top-btn{
    height: fit-content;
    display: flex;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 11px;
    border: 1px solid rgba(59, 64, 48, 0.50);
    align-items: center;
}

.account__admin-btn-text{
    color: rgba(59, 64, 48, 0.50);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

.account__table-admin-title{
    padding-right: 120px;
}

.admin__table{
    margin-top: 24px;
}

/* dropdown */

.filter-city{
    position: relative;
    width: 214px;
    height: 46px !important;
    border: none;
}

.account__admin-dropdown{
    flex-direction: column;
    display: flex;
    position: absolute;
    width: 214px;
    top: 0;
    left: 0;
    border-radius: 11px;
    border: 1px solid #9D9F97;
    background: #fff;
}

.admin__dropdown-active,
.admin__dropdown-select,
.admin__dropdown-value{
    color: #9D9F97;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

.account__admin-btn-arrow.active{
    transform: rotate(180deg);
}

.admin__dropdown-active{
    padding: 8px 8px 8px 16px;
}

.admin__dropdown-item{
    display: none;
}

.admin__dropdown-item.active{
    display: flex;
    width: 214px;
    gap: 8px;
    justify-content: space-between;
    padding: 0px 16px;
}

.distributors__table{
    width: 28.49%;
}

.account__distributors-content{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.account__table-distributors-title{
    padding-right: 77px;
}

.account__table-link.active{
    color: #3B4030;
    text-decoration: underline;
}

.distributors__account{
    border-radius: 15px;
    border: 1px solid rgba(59, 64, 48, 0.21);
    background: #FDFEFB;
    padding: 32px;
    width: 69.89%;
    height: fit-content;
    display: none;
    flex-direction: column;
    gap: 72px;
}

.distributors__account.active{
    display: flex;
}

.distributors__account-name{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.distributors__account-title{
    color: #3B4030;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.distributors__account-subtitle{
    color: rgba(59, 64, 48, 0.50);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.distributors__account-top{
    display: flex;
    gap: 266px;
}

.distributors__account-button{
    display: flex;
    align-items: center;
    gap: 24px;
}

.distributors__account-buttons-title{
    color: rgba(59, 64, 48, 0.50);
    text-align: right;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.distributors__account-buttons{
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    border-radius: 12px;
}

.distributors__account-freeze{
    color: #3068FF;
    background: #E8EEFF;
}

.distributors__account-delete{
    color: #FF2E2E;
    background: #FFE9E9;
}

.distributors__account-main{
    display: flex;
    gap: 120px;
}

.distributors__account-main-items{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.distributors__account-main-item{
    width: 245px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.distributors__main-title{
    color: #3B4030;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.distributors__main-subtitle{
    color: rgba(59, 64, 48, 0.50);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.distributors__main-subtitle-wrapper{
    display: flex;
    align-items: center;
    gap: 16px;
}

.distributors__main-link{
    white-space: nowrap;
    color: #0E87DE;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    text-decoration: underline;
    cursor: pointer;
}

.distributors__main-link-first{
    font-size: 12px;
}

.account__distributors-wrapper{
    margin-top: 144px;
    margin-bottom: 410px;
}