/* Header */

.header__account-list{
    display: flex;
    gap: 24px;
}

.header__list{
    color: #0F0F0F;
    font-size: 14px;
    font-weight: 500;
}

.header__account-buttons{
    display: flex;
    gap: 8px;
}

.header__account-button{
    width: 107px;
    height: 40px;
    border-radius: 18px;
    background: #A1B17E;
/* Button text */
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
}

.header__account-btn{
    background: #333;
}

.account__main-wrapper{
    padding-top: 144px;
    padding-bottom: 352px;
}

.account__title{
    color: #0F0F0F;
    font-size: 36px;
    font-weight: 900;
}

.account__main-content{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.account-line{
    margin-top: 16px;
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.20);
}

.oreder__main-table{
    padding: 8px 32px;
    width: 58%;
    border-spacing: 0 24px;
    border-radius: 15px;
    border: 1px solid rgba(15, 15, 15, 0.21);
    background: #FDFEFB;
}

.order__table-title{
    color: rgba(15, 15, 15, 0.80);
    font-size: 16px;
    font-weight: 700;
}

.oreder__main-table th, .oreder__main-table td{
    text-align: left;
}

.order__main-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.order__table-info{
    color: rgba(15, 15, 15, 0.80);
    font-size: 16px;
    font-weight: 400;
}

.order__table-info:first-child{
    color: #0E87DE;
}

.account__main-block{
    width: 37.3%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 15px;
    border: 1px solid rgba(15, 15, 15, 0.21);
    background: #FDFEFB;
}

.account__block-name{
    color: rgba(15, 15, 15, 0.80);
    font-size: 24px;
    font-weight: 600;
}

.account__block-info{
    color: rgba(15, 15, 15, 0.80);
    font-size: 16px;
    font-weight: 400;
}

.account__block-info-wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.account__main-order-text{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.account__main-links, .order__main-operations-content{
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.account__main-link{
    color: #0E87DE;
    font-size: 16px;
    font-weight: 400;
    text-decoration-line: underline;
}

.account__main-operations-item{
    display: flex;
    justify-content: space-between;
}

.account__main-operations-content{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.account__main-operations-link{
    color: #0E87DE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.account__main-price{
    color: #3F3F3E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


.account__main-card{
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 15px;
    border: 1px solid rgba(15, 15, 15, 0.21);
    background: #FDFEFB;
    width: 58%;
    height: fit-content;
}

.account__main-card-text{
    display: flex;
    justify-content: space-between;
}

.account__card-item{
    display: flex;
    justify-content: space-between;
    gap: 75px;
    align-items: center;
}

.account__card-title{
    color: rgba(15, 15, 15, 0.80);
    font-size: 32px;
    font-weight: 800;
}
.account__card-rent{
    color: rgba(15, 15, 15, 0.80);
    font-size: 16px;
    font-weight: 400;
}

.account__card-status{
    text-align: right;
    margin-top: 20px;
}

.account__card-status-name{
    color: rgba(15, 15, 15, 0.50);
}

.account__card-status{
    color: rgba(15, 15, 15, 0.80);
    font-size: 16px;
    font-weight: 500;
}

.account__card-block{
    display: flex;
    align-items: center;
    gap: 24px;
}

.account__card-block-text{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.account__card-block-name{
    color: rgba(15, 15, 15, 0.80);
    font-size: 16px;
    font-weight: 700;
}

.account__card-block-text{
    color: rgba(15, 15, 15, 0.80);
    font-size: 12px;
    font-weight: 500;
}

.account__card-price{
    color: rgba(15, 15, 15, 0.80);
    font-size: 16px;
    font-weight: 500;
}

.account__card-days{
    color: rgba(15, 15, 15, 0.80);
    font-size: 16px;
    font-weight: 500;
}

.account__card-total-price{
    color: rgba(15, 15, 15, 0.80);
    font-size: 16px;
    font-weight: 700;
}

.account__card-btn{
    width: 130px;
    height: 40px;
    border-radius: 18px;
    background: #A1B17E;
    color: #FFF;
}

.account__card-btn-blue{
    background: #4CA9E9;
}

.account__card-btn-black{
    background: #333333;
}

.account__card-buttons{
    display: flex;
    justify-content: space-between;
}