/* Header */

.header__account__list{
    display: flex;
    gap: 24px;
}

.header__account__list-item{
    color: #0F0F0F;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: .2s all;
}

li.header__account__list-item.active {
    color: #9EB175;
}

.header__account-buttons{
    display: flex;
    gap: 8px;
}

.header__account-button{
    width: 107px;
    height: 40px;
    border-radius: 18px;
    background: #A1B17E;
/* Button text */
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
}

.header__account-btn{
    background: #333;
}

.account__main-wrapper{
    padding-top: 144px;
    padding-bottom: 352px;
}

.account__title{
    color: #0F0F0F;
    font-size: 36px;
    font-weight: 900;
}

.account__main-content{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.account-line{
    margin-top: 16px;
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.20);
}

.oreder__main-table{
    padding: 8px 32px;
    width: 58%;
    border-spacing: 0 24px;
    border-radius: 15px;
    border: 1px solid rgba(15, 15, 15, 0.21);
    background: #FDFEFB;
}

.order__table-title{
    color: rgba(15, 15, 15, 0.80);
    font-size: 16px;
    font-weight: 700;
}

.oreder__main-table th, .oreder__main-table td{
    text-align: left;
}

.order__main-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.order__table-info{
    color: rgba(15, 15, 15, 0.80);
    font-size: 16px;
    font-weight: 400;
}

.order__table-info:first-child{
    color: #0E87DE;
}

.account__main-block{
    width: 37.3%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 15px;
    border: 1px solid rgba(15, 15, 15, 0.21);
    background: #FDFEFB;
}

.account__block-name{
    color: rgba(15, 15, 15, 0.80);
    font-size: 24px;
    font-weight: 600;
}

.account__block-info{
    color: rgba(15, 15, 15, 0.80);
    font-size: 16px;
    font-weight: 400;
}

.account__block-info-wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.account__main-order-text{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.account__main-links, .order__main-operations-content{
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.account__main-link{
    color: #0E87DE;
    font-size: 16px;
    font-weight: 400;
    text-decoration-line: underline;
}

.account__main-operations-item{
    display: flex;
    justify-content: space-between;
}

.account__main-operations-content{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.account__main-operations-link{
    color: #0E87DE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.account__main-price{
    color: #3F3F3E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


.account__main-card{
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 15px;
    border: 1px solid rgba(15, 15, 15, 0.21);
    background: #FDFEFB;
    width: 58%;
    height: fit-content;
}

.account__main-card-text{
    display: flex;
    justify-content: space-between;
}

.account__card-item{
    display: flex;
    justify-content: space-between;
    gap: 75px;
    align-items: center;
}

.account__card-title{
    color: rgba(15, 15, 15, 0.80);
    font-size: 32px;
    font-weight: 800;
}
.account__card-rent{
    color: rgba(15, 15, 15, 0.80);
    font-size: 16px;
    font-weight: 400;
}

.account__card-status{
    text-align: right;
    margin-top: 20px;
}

.account__card-status-name{
    color: rgba(15, 15, 15, 0.50);
}

.account__card-status{
    color: rgba(15, 15, 15, 0.80);
    font-size: 16px;
    font-weight: 500;
}

.account__card-block{
    display: flex;
    align-items: center;
    gap: 24px;
}

.account__card-block-text{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.account__card-block-name{
    color: rgba(15, 15, 15, 0.80);
    font-size: 16px;
    font-weight: 700;
}

.account__card-block-text{
    color: rgba(15, 15, 15, 0.80);
    font-size: 12px;
    font-weight: 500;
}

.account__card-price{
    color: rgba(15, 15, 15, 0.80);
    font-size: 16px;
    font-weight: 500;
}

.account__card-days{
    color: rgba(15, 15, 15, 0.80);
    font-size: 16px;
    font-weight: 500;
}

.account__card-total-price{
    color: rgba(15, 15, 15, 0.80);
    font-size: 16px;
    font-weight: 700;
}

.account__card-btn{
    width: 130px;
    height: 40px;
    border-radius: 18px;
    background: #A1B17E;
    color: #FFF;
}

.account__card-btn-blue{
    background: #4CA9E9;
}

.account__card-btn-black{
    background: #333333;
}

.account__card-buttons{
    display: flex;
    justify-content: space-between;
}

.order__table-link{
    cursor: pointer;
}

.header__block-hide{
    display: none;
}

/* Statistic */

.account__statistic-wrapper{
    padding-top: 144px;
    padding-bottom: 352px;
}

.account__statistic-main-content__wrapper {
    margin-top: 24px;
    display: flex;
    gap: 17px;
}

.account__statistic-content{
    padding: 32px;
    border-radius: 15px;
    border: 1px solid rgba(59, 64, 48, 0.21);
    background: #FDFEFB;
}

.account__statistic-main-content{
    width: 33%;
}


.account__statistic-content-title{
    color: #3B4030;
    font-size: 24px;
    font-weight: 700;
}

.graphic{
    margin-top: 32px;
    display: flex;
    gap: 68px;
    flex-direction: column;
    position: relative;
}

.graphic-img{
    position: absolute;
    bottom: 0;
    left: -2px;
}

.graphic-line{
    width: 100%;
    height: 1px;
    background-color: rgba(15, 15, 15, 0.30);
    position: relative;
    z-index: 3;
}

.graphic-line-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.graphic-underline-text{
    color: rgba(59, 64, 48, 0.80); 
    font-size: 16px;
    font-weight: 400;
}

.graphic-text{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.statistic-content-table{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.statistic-content-table-left{
    display: flex;
    align-items: center;
    gap: 8px;
}

.statistic-content-table-row{
    display: flex;
    justify-content: space-between;
}

.account__products-main{
    margin-top: 24px;
}

.account__main-table{
    text-align: left;
    border-radius: 15px;
    padding: 8px 32px;
    border: 1px solid rgba(59, 64, 48, 0.21);
    background: #FDFEFB;
    border-spacing: 0 24px;
}

.account__table-title{
    color: rgba(59, 64, 48, 0.80);
    font-size: 16px;
    font-weight: 700;
    padding-right: 236px;
    white-space: nowrap;
}

.account__table-title:last-child{
    padding-right: 0;
}

.account__table-text{
    color: rgba(59, 64, 48, 0.80);
    font-size: 16px;
    font-weight: 400;
}

.account__table-text-blue{
    color: #0E87DE;
    cursor: pointer;
}

.account__table-text-link{
    cursor: pointer;
}

.account__popup{
    border-radius: 20px;
    background: #FFF;
    width: 1119px;
    height: 688px;
    padding: 56px;
    position: absolute;
    display: none;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s linear;
}

.account__popup-title{
    color: #202318;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
}

.account__popup-city{
    color: rgba(32, 35, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.account__popup-top{
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
}

.account__popup-content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.account__popup-content{
    display: flex;
    gap: 60px;
}

.account__popup-text{
    color: #202318;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; /* 150% */
}

.account__popup-text-number{
    color: rgba(32, 35, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.account__table-popup{
    border-spacing: 0;
}

.account__popup-table-content{
    width: 120px;
    height: 36px;
    padding: 10px 12px;
    text-align: left;
    display: inline-flex;
    align-items: center;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    border-style: solid;
    border-color: #B9B9B9;
}

.account__table-popup th, td {
    border-width: 1px 0 0 1px;
}

.account__table-popup th:last-child,
.account__table-popup td:last-child {
    border-right-width: 1px;
}

.account__table-popup tr:last-child td {
    border-bottom-width: 1px;
}


.account__popup-table-content-yellow{
    background-color: rgba(255, 241, 116, 0.35);
}

.account__popup-table-content-header{
    background-color: rgba(0, 0, 0, 0.06);
    color: #000;
    font-size: 12px;
    font-weight: 600;
}

.account__close-popup{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    top: -22px;
    right: -22px;
}

.main__account.active{
    filter: blur(10px);
    opacity: 0.7;
}

.overlay__account{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
    opacity: 0;
    transition: .4s linear;

}

.overlay__account.active{
    opacity: 1;
    z-index: 10;

}

.account__wrapper{
    margin-top: 144px;
    margin-bottom: 410px;
}

.account__top-content{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.account__left-content{
    display: flex;
    align-items: center;
    gap: 12px;
}

.account__top-left-button{
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.account__top-left-button-tenants{
    width: 232px;
}

.account__top-left-button-product{
    width: 187px;
}

.account__top-text{
    color: rgba(59, 64, 48, 0.50);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.account__left-button-text{
    color: #3B4030;
    font-size: 16px;
    font-weight: 500;
}

.account__right-content{
    display: flex;
    gap: 28px;
}

.account__buttons{
    border-radius: 36px;
    border: 1px solid rgba(59, 64, 48, 0.50);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.account__right-button-order{
    border-radius: 36px;
    border: 1px solid rgba(59, 64, 48, 0.50);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.account__buttons-order{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    background: #3F3F3E;
}

.account__buttons-order.unactive{
    color: rgba(59, 64, 48, 0.50);
    background: #fff;
}

.account__buttons-error{
    color: rgba(59, 64, 48, 0.50);
    font-size: 16px;
    font-weight: 500;
}

.account__buttons-error.active{
    color: #fff;
    background: #3F3F3E;
}

.account__button-text{
    color: rgba(59, 64, 48, 0.50);
    font-size: 16px;
    font-weight: 600;
}

.account__right-button-order{
    width: 130px;
}

.account__right-btn{
    width: 104px;
    height: 44px;
}

.account__right-button{
    width: 85px;
    height: 44px;
}

.account__right-buttons-wrapper{
    display: flex;
    gap: 16px;
}

.account__main-content{
    margin-top: 32px;
}

.account__tenants-main-table{
    margin-top: 32px;
    text-align: left;
    border-radius: 15px;
    padding: 8px 32px;
    border: 1px solid rgba(59, 64, 48, 0.21);
    background: #FDFEFB;
    border-spacing: 0 24px;
}

.account__table-tenants-title{
    padding-right: 101px;
    white-space: nowrap;
    color: rgba(59, 64, 48, 0.80);
    font-size: 16px;
    font-weight: 700;
}

.account__table-tenants-title:last-child{
    padding-right: 0;
}

.account__table-tenants{
    color: rgba(59, 64, 48, 0.80);
    font-size: 16px;
    font-weight: 400;
}

.account__table-tenants-blue{
    color: #0E87DE;
}

.account__orders-wrapper{
    margin-top: 144px;
    margin-bottom: 410px;
}

.account__oreders-top-content{
    margin-top: 40px;
}

/* orders */

.account__top-left-button-order{
    width: 160px;
}

.account__orders-main-content{
    margin-top: 24px;
}

.account__orders-main-table{
    margin-top: 32px;
    text-align: left;
    border-radius: 15px;
    padding: 8px 32px;
    border: 1px solid rgba(59, 64, 48, 0.21);
    background: #FDFEFB;
    border-spacing: 0 24px;
    width: 100%;
}

.account__table-orders-title{
    color: rgba(59, 64, 48, 0.80);
    font-size: 16px;
    font-weight: 700;
    padding-right: 146px;
}

.account__table-orders-title:last-child{
    padding-right: 0px;
}

.account__table-orders-red{
    background: #FFD3D3;
    height: 100%;
    width: fit-content;
}

.account__orders-main-content-unactive{
    display: none;
}