.catalog-btn{
    background-color: #333;
}

.basket-content-wrapper{
    margin-top: 72px;
    margin-bottom: 410px;
}

.basket-back-to-catalog{
    display: flex;
    gap: 8px;
    align-items: center;
}

.basket-back-text{
    color: rgba(59, 64, 48, 0.70);
    font-size: 16px;
    font-weight: 500;
}

.basket-text-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.basket-title{
    margin-top: 32px;
    color: #3B4030;
    font-size: 36px;
    font-weight: 900;
}

.basket-line{
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.20);
}

.basket-content-item{
    margin-top: 30px;
    padding: 32px 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    border: 1px solid rgba(59, 64, 48, 0.20);
    background: rgba(243, 244, 239, 0.40);
}

.basket-item-preview {
    display: flex;
    align-items: center;
    gap: 32px;
}

.basket-item-name-wrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.basket-item-name{
    color: #3B4030;
    font-size: 16px;
    font-weight: 700;
}

.basket-item-date{
    color: rgba(59, 64, 48, 0.70);
    font-size: 12px;
    font-weight: 400;
}

.basket-item-delete{
    color: #9EB175;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.basket-item-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.basket-item-text-content{
    color: #3B4030;
    font-size: 12px;
    font-weight: 500;
}

.basket-item-text-number{
    color: #9EB175;
    font-size: 12px;
    font-weight: 500;
}

.basket-item-calc{
    display: flex;
    align-items: center;
    gap: 32px;
}

.basket-item-number{
    color: #3B4030;
    font-size: 16px;
    font-weight: 400;
}

.basket-num{
    display: flex;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    border: 1px solid rgba(51, 51, 51, 0.15);
    background: #FFF;
}

.basket-item-arrage{
    border-radius: 56px;
    background: #9EB175;
    width: 148px;
    height: 44px;
/* Button text */
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}

.basket-add-item-link{
    margin-top: 24px;
    height: 74px;
    width: 100%;
}

.basket-add-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border-radius: 20px;
    background: #EFF1EA;
    width: 100%;
}

.basket-add-item-img{
    width: 18px;
    height: 18px;
}

.basket-add-item-text{
    color: #3B4030;
    font-size: 16px;
    font-weight: 600;
}

.popup__basket{
    width: 432px;
    text-align: center;
    padding: 32px;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    border: 1px solid rgba(59, 64, 48, 0.20);
    background: #FCFCFC;
    box-shadow: 0px 2px 18px 10px rgba(116, 130, 89, 0.04);
    gap: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    z-index: -1;
    transition: .3s linear;
}

.popup__basket.active {
    opacity: 1;
    z-index: 10;
}

.popup__basket-name{
    color: #3B4030;
    font-size: 24px;
    font-weight: 700;
}

.popup__basket-btns{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.popup__basket-btn{
    width: 368px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 40px;
    background: #F6F6F6;
/* Button text */
    color: #000;
    font-size: 16px;
    font-weight: 700;
}

.popup__basket-close{
    width: 367px;
    height: 60px;
    border-radius: 40px;
    background: #9EB175;
/* Button text */
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}