.catalog {
    padding: 80px 0 495px;
}

.catalog-title {
    color: #3B4030;
    font-size: 36px;
    font-weight: 800;
    line-height: 46.8px;
    margin-left: 18.95%;
}

.catalog__wrapper {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.catalog__categories {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.categories-title {
    color: #3B4030;
    font-size: 24px;
    font-weight: 500;
}

.categories-item {
    height: 44px;
    padding: 0 24px;
    display: flex;
    align-items: center;
}

.category-title {
    color: rgba(15, 15, 15, 0.40);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    border-bottom: 1px solid rgba(15, 15, 15, 0.20);
}

.category__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.category__list-item {
    color: #3B4030;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: .3s linear;
    border-radius: 34px;
}

.category__list-item.active {
    background: #9EB175;
    color: #fff;
}

.catalog__items {
    display: flex;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
    width: 61%;
    margin-left: 5%;
}

.catalog__item {
    display: block;
    max-width: 287px;
    width: 100%;
}

.catalog__item__preview {
    background: #FFF;
    box-shadow: 0px 2px 18px 10px rgba(116, 130, 89, 0.04);
    height: 323px;
    position: relative;
    border-radius: 28px 28px 0 0;
}

.catalog__item-like {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background: #F3F6ED;
}

.catalog__item-like.active svg,
.catalog__item-like.active svg path {
    fill: #FE584D;
    stroke: #FE584D;
}

.catalog__item-rating {
    position: absolute;
    bottom: 12px;
    left: 8px;
    width: 80px;
    height: 30px;
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: #F3F6ED;
}

.catalog__item-rating-number {
    color: #3B4030;
    font-size: 16px;
    font-weight: 600;
}

.catalog__item__info {
    padding: 16px;
    background: #F3F6ED;
    border-radius: 0 0 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.catalog__item-price {
    color: #3B4030;
    font-size: 24px;
    font-weight: 800;
}

.catalog__item-name {
    color: #3B4030;
    font-size: 12px;
    font-weight: 700;
    line-height: 133.333%;
}

.catalog__item-descr {
    color: rgba(59, 64, 48, 0.60);
    font-size: 12px;
    font-weight: 500;
}

.catalog__item__char {
    display: flex;
    align-items: center;
    gap: 5px;

    color: #3B4030;
    font-size: 12px;
    font-weight: 500;
}

.add__block {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.add__block-btn {
    width: 91px;
    height: 31px;
    border-radius: 22px;
    background: #9EB175;
    /* Button text */
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
}

.add__block-amount {
    padding: 8px 2px;
    text-align: center;
    width: 31px;
    height: 31px;
    border-radius: 8px;
    border: 1px solid #B0BE93;
    background: #F9F9F9;
}

.add__block-delete {
    display: inline-flex;
}

.catalog__right {
    width: 19.3%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.calendar__block-title {
    color: #3B4030;
    font-size: 24px;
    font-weight: 800;
    line-height: 133.333%;
    max-width: 249px;
}

.calendar {
    margin-top: 32px;
    padding: 22px;
    padding-bottom: 24px;
    border-radius: 14.903px;
    background: var(--Blue-50, #FFF);
    box-shadow: 7.45171px 2.79439px 20.49221px 9.31464px rgba(152, 166, 123, 0.11);
}

.calendar__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 19px;
    border-bottom: 1px solid #E4E5E7;
}

.calendar-month-year {
    color: #3B4030;
    font-size: 13.04px;
    font-weight: 600;
    letter-spacing: 0.13px;
}

.calendar__nav {
    display: flex;
    align-items: center;
    gap: 22px;
}

.calendar__nav button {
    display: inline-flex;
}

.calendar__body {
    margin-top: 15px;
}

.calendar__weekdays {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.calendar__weekdays-item {
    padding: 3.73px;
    color: rgba(59, 64, 48, 0.50);
    font-size: 9.315px;
    font-weight: 500;
    text-transform: uppercase;
}

.calendar__days {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
}

.calendar__days-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: .2s all;
}

.calendar__days-item.active {
    border-radius: 37.259px;
    background: #9EB175;
    color: #fff;
}


/* Filters */

.catalog__filters {
    border-radius: 24px;
    border: 2px solid rgba(94, 94, 94, 0.08);
    background: #FFF;
    box-shadow: 0px 4px 64px 20px rgba(0, 0, 0, 0.03);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.catalog__filters-title {
    color: #3B4030;
    font-size: 24px;
    font-weight: 800;
    line-height: 133.333%;
    padding: 8px 0 8px 16px;
}

.catalog__filters__list-title {
    color: #3B4030;
    font-size: 16px;
    font-weight: 600;
    line-height: 175%;
    padding: 8px 0 8px 24px;
}

.catalog__filters__list {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 32px;
}

.colors-block .catalog__filters__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.colors-block .catalog__filters__list-item {
    cursor: pointer;
}

.colors-block .catalog__filters__list-item {
    padding: 0;
}

.catalog__filters__list-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 0;
}

.checkbox__block {
    display: inline-flex;
}

.checkbox__block input {
    width: 16px;
    height: 16px;
}

.checkbox__title {
    color: rgba(15, 15, 15, 0.50);
    font-size: 13px;
    font-weight: 500;
}

.filter-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.filter-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.filter-checkbox+label::before {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(15, 15, 15, 0.20);
    background: rgba(15, 15, 15, 0.10);
    cursor: pointer;
}

.filter-checkbox:checked+label::before {
    border-color: #A1B17E;
    background: url('/img/common/check-mark.svg') center center / cover no-repeat;
    background-size: 65%;
}

.filter-checkbox:disabled+label::before {
    background-color: #e9ecef;
}

.filters__button {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 246px;
    height: 44px;
    border-radius: 16px;
    background: #9EB175;
    /* Button text */
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}