/* Header */

.header__account-list{
    display: flex;
    gap: 24px;
}

.header__list{
    color: #0F0F0F;
    font-size: 14px;
    font-weight: 500;
}

.header__account-buttons{
    display: flex;
    gap: 8px;
}

.header__account-button{
    width: 107px;
    height: 40px;
    border-radius: 18px;
    background: #A1B17E;
/* Button text */
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
}

.header__account-btn{
    background: #333;
}

.header__list.active{
    color: #9EB175;
}

.header__block-hide{
    display: none !important;
}