/* Form-login */
.main {
    display: flex;
    justify-content: center;
    height: 1130px;
}

.form{
    padding: 24px 24px 40px 24px;
    width: 538px;
    gap: 32px;
    flex-direction: column;
    height: fit-content;
    border-radius: 15px;
    border: 1px solid rgba(15, 15, 15, 0.14);
    background: #FDFEFB;
    display: none;
}

.form.active {
    display: flex;
}

.form-login {
    margin-top: 192px;
}

.form-registr {
    margin-top: 80px;
}

.form-login-title{
    color: #3B4030;
    font-size: 24px;
    font-weight: 400;
}

.form-login-content{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-login-input{
    padding: 0 24px;
    height: 51px;
    border-radius: 8px;
    background: #EEF1E8;
    width: 100%;
    /* input-text */
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    color: #A1B17E; 
}

.input-hide {
    display: none;
}

.form-login-input::placeholder {
    color: #A1B17E;   
}

.form-login-btn{
    border-radius: 8px;
    background: #A1B17E;
    width: 100%;
    height: 51px;
    /* button-text */
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}

.form-login-text{
    color: #A1B17E;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    margin: 0 auto;
}

.form-login-link{
    cursor: pointer;
}

.prof-click-wrapper{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.checkbox-text{
    color: #6C7064;
    font-size: 14px;
    font-weight: 500;
}

.prof-click{
    text-align: center;
    position: relative;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .custom-checkbox+label::before {
    content: '';
    display: flex;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #A1B17E;
    border-radius: 0.25em;
  }

  .custom-checkbox:checked+label::before {
    border-color: #A1B17E;
    background: url('/img/common/check-mark.svg') center center / cover no-repeat;
    background-size: 50%;
  }