.product {
    padding-top: 72px;
}

.product__header {
    margin: 24px 0 32px 0;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    position: relative;
    z-index: 1;
}

.product__header .add__block {
    margin-top: 0;
}

.product__header__block {
    display: flex;
    gap: 24px;
}

.product__header-days {
    display: flex;
    gap: 8px;
    align-items: center;
}

.days-dropdown-wrapper {
    position: relative;
    height: 40px;
    width: 123px;
}

.days-dropdown {
    min-width: 123px;
    height: fit-content;
    width: 100%;
    max-height: 40px;
    position: absolute;
    z-index: 4;
    overflow: hidden;
    transition: .3s linear;
}

.days-price,
.days-dropdown {
    border-radius: 32px;
    background: rgb(238 241 230);
}

.days-price {
    padding: 0 24px;
    height: 40px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.days-price-value {
    color: #3B4030;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
}

.days-dropdown.active {
    max-height: 450px;
}

.days-dropdown-item,
.days-dropdown-select,
.days-price-value {
    color: #3B4030;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
}

.days-dropdown-item {
    align-items: center;
    display: flex;
    padding-left: 24px;
    width: 100%;
    gap: 8px;
    height: 40px;
    border-top: 1px solid #1437661f;
    cursor: pointer;
    transition: .3s linear;
}

.days-dropdown-item:hover {
    opacity: .7;
}

.days-dropdown-item:first-child {
    border-top: none;
}

.days-dropdown-item:first-child:hover {
    opacity: 1;
}

/* Product main */
.product-title {
    color: #3B4030;
    font-size: 24px;
    font-weight: 800;
}

.product__block {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.product-main {
    display: flex;
    gap: 32px;
    padding-bottom: 382px;
}

.product__left__block {
    display: flex;
    gap: 24px;
}

.product__photo__items {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.product__photo-item {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #F9F9F9;
    transition: .2s all;
    border: 2px solid #F9F9F9;
    cursor: pointer;
}

.product__photo-item img {
    max-width: 100%;
    object-fit: contain;
}

.product__photo-item.active {
    border-radius: 20px;
    border: 2px solid #A1B17E;
}

.product__photo {
    width: 671px;
    height: 472px;
    border-radius: 20px;
    background: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__photo img {
    width: 59.61%;
    height: 95.34%;
}

.characters{
    margin-top: 32px;
    padding: 24px;
    border-radius: 20px;
    border: 2px solid rgba(59, 64, 48, 0.50);
    opacity: 0.5;
    background: #FFF;
}

.characters-title {
    color: #3B4030;
    font-size: 24px;
    font-weight: 600;
}

.characters__list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.characters__list-item {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #3B4030;
    font-weight: 400;
    font-size: 16px;
}

.characters__list-item span {
    font-weight: 600;
}

.product__right__block {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.product__descr-text {
    color: #3B4030;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
}

.calendar__field {
    background: #FFF;
    width: 362px;
    height: 46px;
    border-radius: 6px;
    border: 1px solid rgba(107, 114, 128, 0.50);
    cursor: pointer;
    transition: .2s all;
    display: flex;
    padding-left: 16px;
    align-items: center;
    gap: 12px;
}

.calendar__field.active {
    border: 1px solid #3B82F6;
    box-shadow: 0px 0px 0px 4px rgba(59, 130, 246, 0.25);
}

.rental__block {
    max-width: 383px;
}

.rental__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rental__parameter {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.parameter-title,
.parameter__grade-value,
.reviews-link,
.parameter-value-item {
    color: #3B4030;
    font-size: 16px;
    font-weight: 500;
    line-height: 175%;
}

.parameter-value {
    max-width: 215px;
    width: 100%;
}

.rental-name {
    color: #A1B17E;
    text-decoration-line: underline;
}

.parameter__grade {
    display: flex;
    align-items: center;
    gap: 8px;
}

.parameter-value {
    display: flex;
    flex-direction: column;
}

.rental__parameter:first-child .parameter-value {
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.reviews-link {
    color: rgba(15, 15, 15, 0.50);
    text-decoration-line: underline;
}

.rental-phone {
    color: #A1B17E;
}

.rules-button {
    max-width: 383px;
    height: 44px;
    border-radius: 12px;
    border: 1px solid #B5B8BF;
    /* Button text */
    color: #3B4030;
    font-size: 16px;
    font-weight: 500;
}

/* Rating */


/* Review */

.product-review {
    padding-bottom: 170px;
}

.reviews__wrapper {
    margin-top: 36px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.review {
    padding: 17px;
    max-width: 784px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #BAC5A0;
    box-shadow: 0px 4px 4px 0px rgba(174, 174, 174, 0.25);
}

.review__content {
    display: flex;
    gap: 16px;
    align-items: flex-start;
}

.review__info {
    max-width: 230px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.review-name,
.review-text {
    color: #3B4030;
    font-size: 14px;
    font-weight: 600;
    line-height: 142%;
}

.review-text {
    font-weight: 400;
}

.review-date {
    color: #7E8375;
    font-size: 12px;
    font-weight: 400;
    line-height: 133%;
    position: relative;
    margin-left: 20px;
}

.review-date::before {
    content: "";
    position: absolute;
    left: -20px;
    width: 16px;
    height: 16px;
    background: url('../img/product/review/calendar.svg')
    center center / cover no-repeat;
}

/* Review form */
.review__form {
    max-width: 784px;
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 32px;
}

.review__form-title {
    color: #3B4030;
    font-size: 14px;
    font-weight: 500;
}

.review__form-text {
    padding: 8px 12px;
    margin-top: 7px;
    width: 100%;
    height: 80px;
    border-radius: 6px;
    border: 1px solid #BAC5A0;
    resize: none;
}

.review__form-text,
.review__rating-title {
    color: #7E8375;
    font-size: 14px;
    font-weight: 400;
    line-height: 142%;
}

.form-block {
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review__rating__stars {
    display: flex;
    align-items: center;
    gap: 8px;
}

.review__rating-star {
    transition: .2s all;
}

.review__rating-star.active path {
    fill: rgb(56, 82, 0)
}

.review__rating-star {
    cursor: pointer;
}

.review__rating-title {
    margin-top: 7px;
}

.review__submit {
    width: 107px;
    height: 40px;
    border-radius: 6px;
    background: #3B4030;
    /* Button text */
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
}