.product {
    padding-top: 72px;
}

.product__header {
    margin: 24px 0 32px 0;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    position: relative;
    z-index: 1;
}

.product__header .add__block {
    margin-top: 0;
}

.product__header__block {
    display: flex;
    gap: 24px;
}

.product__header-days {
    display: flex;
    gap: 8px;
    align-items: center;
}

.days-dropdown-wrapper {
    position: relative;
    height: 40px;
    width: 123px;
}

.days-dropdown {
    min-width: 123px;
    height: fit-content;
    width: 100%;
    max-height: 40px;
    position: absolute;
    z-index: 4;
    overflow: hidden;
    transition: .3s linear;
}

.days-price,
.days-dropdown {
    border-radius: 32px;
    background: rgb(238 241 230);
}

.days-price {
    padding: 0 24px;
    height: 40px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.days-price-value {
    color: #3B4030;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
}

.days-dropdown.active {
    max-height: 450px;
}

.days-dropdown-item,
.days-dropdown-select,
.days-price-value {
    color: #3B4030;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
}

.days-dropdown-item {
    align-items: center;
    display: flex;
    padding-left: 24px;
    width: 100%;
    gap: 8px;
    height: 40px;
    border-top: 1px solid #1437661f;
    cursor: pointer;
    transition: .3s linear;
}

.days-dropdown-item:hover {
    opacity: .7;
}

.days-dropdown-item:first-child {
    border-top: none;
}

.days-dropdown-item:first-child:hover {
    opacity: 1;
}

/* Product main */
.product-main {
    display: flex;
    justify-content: space-between;
}

.product__left__block {
    display: flex;
    gap: 24px;
}

.product__photo__items {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.product__photo-item {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #F9F9F9;
    transition: .2s all;
    border: 2px solid #F9F9F9;
    cursor: pointer;
}

.product__photo-item img {
    max-width: 100%;
    object-fit: contain;
}

.product__photo-item.active {
    border-radius: 20px;
    border: 2px solid #A1B17E;
}

.product__photo {
    width: 671px;
    height: 472px;
    border-radius: 20px;
    background: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__photo img {
    width: 59.61%;
    height: 95.34%;
}