/* Promo */
.promo {
    padding: 172px 0 70px;
    transition: .2s linear;
}

.promo.active {
    filter: blur(73px);
    opacity: 0.7;
    background: rgba(166, 182, 132, 0.50);
}

.promo-title {
    color: #3B4030;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    line-height: 46.8px;
}

.promo-subtitle {
    margin-top: 16px;
    color: rgba(59, 64, 48, 0.50);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

.promo__cards-wrapper {
    margin-top: 32px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.promo__card {
    display: block;
    overflow: hidden;
    position: relative;
    height: 170px;
    width: 234px;
    padding-top: 16px;
    border-radius: 20px;
    background: linear-gradient(0deg, #F6F3EA 0%, #F6F3EA 100%), lightgray 50% / cover no-repeat;
}

.promo__card-title {
    color: #64562E;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}

.promo__card-img {
    display: block;
    margin: 0 auto;
    margin-top: 24px;
}

.promo__card:nth-child(3) .promo__card-img {
    margin: 24px 7px 0 46px;
}

.promo__card:nth-child(9) .promo__card-img {
    margin: 24px 6px 0 21px;
}

.promo__card:nth-child(14) .promo__card-img {
    margin: 24px 24px 0 0;
}

.promo__card:nth-child(15) .promo__card-img {
    margin: 24px 0 0 26px;
}

.promo__card:last-child .promo__card-img {
    position: absolute;
    margin: 0;
    top: 6px;
    right: 5px;
}

/* Popup */
.main{
    position: relative;
}

.popup {
    position: absolute;
    width: 745px;
    height: 280px;
    background-color: #fff;
    border-radius: 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    z-index: -1;
    transition: .3s linear;
}

.popup.active {
    opacity: 1;
    z-index: 10;
}

.popup-wrapper{
    display: flex;
    gap: 32px;
    width: 290px;
    height: 91px;
    align-items: center;
    flex-direction: column;
}

.popup-title{
    text-align: center;
    color: #3B4030;
    font-size: 16px;
    font-weight: 500;
}

.popup__buttons-wrapper{
    display: flex;
    gap: 32px;
    align-items: center;
}

.popup__button{
    border-radius: 18px;
    width: 129px;
    height: 40px;
/* button text */
    color: #FFF;
    font-size: 16px;
    font-weight: 500;

}

.popup__button[data-button="no"]{
    background: #3B4030;
}

.popup__button[data-button="yes"]{
    background: #9EB175;
}
