/* Base styles */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

button,
input {
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
}

li {
    display: inline-flex;
    list-style: none;
}

span {
    font-family: inherit;
}

.container {
    max-width: 1528px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Main */
.main{
    transition: .2s linear;
}

.main.active {
    filter: blur(73px);
    opacity: 0.7;
    background: rgba(166, 182, 132, 0.50);
}

/* Header */

.header {
    height: 74px;
}

.header__wrapper {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__block {
    display: flex;
    align-items: center;
    gap: 24px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-title {
    color: #3B4030;
    font-size: 24px;
    font-weight: 800;
    line-height: 40px;
}

.header__city {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 18px;
    border: 1px solid rgba(70, 70, 70, 0.50);
    background: #FFF;
}

.header__city-name {
    color: #888;
    font-size: 14px;
    font-weight: 400;
}

.header__city-trigger {
    cursor: pointer;
}

.search__block {
    display: flex;
    align-items: center;
    height: 40px;
    width: 392px;
}

.input__block {
    padding: 0 16px;
    width: 76%;
    height: 100%;
    border-radius: 28px 0 0 28px;
    border: 1px solid #7E8375;
    display: flex;
    align-items: center;
    gap: 16px;
}

.search-input {
    width: 100%;
    height: 100%;
    /* Input text */
    color: rgba(51, 51, 51, 0.60);
    font-size: 14px;
    font-weight: 400;
}

.search-button {
    height: 100%;
    background: #7E8375;
    width: 24%;
    border-radius: 0 28px 28px 0;
    /* Button text */
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
}

.sign-in-link.unactive {
    display: none;
}

.sign-in {
    height: 40px;
    width: 94px;
    border-radius: 18px;
    background: #9EB175;
    /* Button text */
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
}

.block-after-login{
    display: none;
    gap: 32px;
}

.block-after-login.active{
    display: flex;
}

.favorites-button{
    width: 40px;
    height: 40px;
    border-radius: 9px;
    background: #F0F2EB;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-block-after-login{
    display: flex;
    align-items: center;
    gap: 16px;
}

.user-name{
    color: #3B4030;
    font-size: 14px;
    font-weight: 500;
}

.user-pp {
    cursor: pointer;
}

/* Footer */
.footer {
    padding-top: 32px;
    height: 257px;
    background: #202318;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}
.footer-logo {
    color: #FFF;
    font-size: 16px;
    font-weight: 800;
    line-height: 28px;
}

.connection__list {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.connection__list-item {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.footer__block:nth-child(2) {
    display: flex;
    gap: 80px;
    padding-right: 22%;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__list-item {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/* Popup */
.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 9;
}

.overlay.active {
    display: block;
}

.popup {
    position: absolute;
    width: 745px;
    height: 280px;
    z-index: 10;
    background-color: #fff;
    border-radius: 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    z-index: -1;
    transition: .3s linear;
}

.popup.active {
    opacity: 1;
    z-index: 10;
}

.popup-wrapper{
    display: flex;
    gap: 32px;
    width: 290px;
    height: 91px;
    align-items: center;
    flex-direction: column;
}

.popup-title{
    text-align: center;
    color: #3B4030;
    font-size: 16px;
    font-weight: 500;
}

.popup__buttons-wrapper{
    display: flex;
    gap: 32px;
    align-items: center;
}

.popup__button{
    border-radius: 18px;
    width: 129px;
    height: 40px;
    /* button text */
    color: #FFF;
    font-size: 16px;
    font-weight: 500;

}

.popup__button[data-button="no"]{
    background: #3B4030;
}

.popup__button[data-button="yes"]{
    background: #9EB175;
}

/* Popup city */

.popup__city{
    padding: 24px 24px 31px 24px;
    position: absolute;
    z-index: 10;
    width: 745px;
    height: 578px;
    border-radius: 32px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    z-index: -1;
    transition: .3s linear;
}

.popup__city.active {
    opacity: 1;
    z-index: 10;
}

.popup__city-back {
    cursor: pointer;
}

.popup__city-top{
    display: flex;
    gap: 16px;
    align-items: center;
}

.popup__city-title{
    color: #3B4030;
    font-size: 36px;
    font-weight: 500;
}

.input__block-sity{
    gap: 8px;
    width: 593px;
}

.search__block-popup{
    margin-top: 24px;
    width: 100%;
    height: 56px;
}

.search-button-popup{
    width: 104px;
    background-color: #404040;
}

.popup__city-map{
    margin-top: 32px;
    width: 697px;
    height: 300px;
}

.popup-map {
    width: inherit;
    height: inherit;
}

.popup__city-list{
    margin-top: 24px;
    display: flex;
    gap: 16px;
}

.popup__city-list-item{
    padding: 10px 10px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #A4A4A4;
    background: rgba(204, 204, 204, 0.10);
    /* button-text */
    color: #727272;
    font-size: 14px;
    font-weight: 400;
}

/* Number inputs */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}